* {
    margin: 0;
    padding: 0;
}

#back {
    background: url("scene.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 648px;
}

#road {
    background: url("road.jpg");
}

#img {
    width: 150px;
}
#button {
    background-color: black;
    width: 40px;
    font-size: 40px;
    margin-top: 280px !important;
    margin: 10px;
    align-content: center;
    border-radius: 5px;
}
#dbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dbtn h1 {
    position: absolute;
    top: 20%;
    font-size: 55px;
    font-weight: bold;
    color: black;
}
#dbtn #button{
    padding: 5px;
    color:rgb(0, 195, 255);

}

#dbtn #button:hover{
    cursor: pointer;
    background: transparent;
    color: black;
    transition: 0.5s;
}
